<div class="card" style="width: 18rem;" id="<%= dom_id project_participant  %>">
  <div class="card-body">
    <h5 class="card-title">
      <% if project_participant.status == 'pending' %>
        <%= button_to "Aceptar Invitacion #{project_participant.role} ", project_participant_path(project_participant), method: :patch %>
        <div>
          <%= project.title %>
          <p>Owner: <%=  project.propietario.name %></p>
        </div>
        <% else %>
          <%= link_to project.title, project_path(project.slug) %>
        <% end %>
    </h5>
    <p class="card-text">
    <%= project.description %>
    </p>
  </div>
</div>